.NavBar {
    background-color: red;
     color: white;
      border-radius: 10px;
}
.NavButton {
    color: white;
     background-color: transparent;
      border-color: transparent;
       margin-left: 18px;
        margin-right: 18px;
}
.NavLink {
    color:white ;
     font-size:18px;
      text-decoration-line: none;
}
h1 {
font-family:'Lucida Sans';
font-weight: bold;
font-size: 28px;
color: red;
}
 h1{
   position: relative;
   padding: 10px;
 }
 .SiteLogo img{
   border-radius:50%;
     height: 80px;
      position: absolute;
      top: 5px;
      left: 220px
 }
 .tooltip{
   position: absolute;
    left: 300px; 
    top: 40px;
 }
 .tooltiptext{
   visibility: hidden;
   position: absolute;
   left: 110%;

 }
 .tooltip:hover .tooltiptext{
   visibility: visible;
 }
 table,td,th{
  border:5px ridge black;
  padding: 20px;
 }
 table{
  border-collapse: collapse;
  word-spacing:5px;
  letter-spacing:1px
 }
 th{
  background-color: red;
 }
 td{
  padding-left:50px;
  padding-right:50px;
 }
 .TextBox{
  border:2px groove red;
  margin:5px;
  border-radius:10px;
  background-color:red;
  font-family: 'Courier New', Courier, monospace;
  font-style:italic;
  color:whitesmoke;
 }
 .TextBox .HeaderBox{
  border: 5px solid #dee3dc  ;
  border-radius:10px ;
  background:#dee3dc;
  color: red
 }