.NavBar {
    background-color: red;
     color: white;
      border-radius: 10px;
}
.NavButton {
    color: white;
     background-color: transparent;
      border-color: transparent;
       margin-left: 18px;
        margin-right: 18px;
}
.NavLink {
    color:white ;
     font-size:18px;
      text-decoration-line: none;
}
h1 {
font-family:'Lucida Sans';
font-weight: bold;
font-size: 28px;
color: red;
}
body {
height:100vh;
background: url(Assets/red-panoramic-city-skyline-poster-260nw-2451161159.webp)no-repeat bottom;
background-origin: border-box;
 } 
 
 h1{
   position: relative;
   padding: 10px;
 }
 .SiteLogo img{
   border-radius:50%;
     height: 80px;
      position: absolute;
      top: 5px;
      left: 220px
 }
 .tooltip{
   position: absolute;
    left: 300px; 
    top: 40px;
 }
 .tooltiptext{
   visibility: hidden;
   position: absolute;
   left: 110%;

 }
 .tooltip:hover .tooltiptext{
   visibility: visible;
 }
 
